@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

:root {
  --ui-header-height: --spacing(16);
  --ui-footer-height: --spacing(12);
  --ui-main-min-height: calc(
    99vh - var(--ui-header-height) - var(--ui-footer-height)
  );
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-semibold mb-3;
}

h3 {
  @apply text-2xl font-semibold mb-2;
}
h4 {
  @apply text-xl font-semibold mb-1;
}
h5 {
  @apply text-lg font-semibold mb-1;
}
